{
	"trailingComma": "none",
	"useTabs": true,
	"semi": false,
	"tabWidth": 2,
	"jsxSingleQuote": true,
	"singleQuote": true,
	"arrowParens": "avoid",
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
