node_modules/
jspm_packages/
uploads/

dist/
build/
*.tsbuildinfo

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

coverage/
*.lcov

.vscode/
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~
.DS_Store
.vscode-test/

tmp/
temp/

*.db
*.sqlite
*.sqlite3

Thumbs.db
desktop.ini
ehthumbs.db

docker-compose.override.yml
.dockerignore

!prisma/schema.prisma
prisma/*.db
prisma/*.db-journal
frontend/.gitignore

/.next/
/out/

.vercel